:root {

	/* --- Tipografia dinamica ----------------------------- */
	--fs-h1: clamp(2rem, 2vw + .5rem, 4rem);
	--fs-h2: clamp(1.8rem, 1.6vw, 3rem);
	--fs-h3: clamp(1.6rem, 1.2vw, 2rem);
	--fs-h4: clamp(1.4rem, .8vw, 1rem);
	--fs-h5: clamp(1.2rem, .4vw, .5rem);
	--fs-text: var(--fs-h5);
	--fs-xsmall: clamp(.6rem, .7vw + 1rem, .8rem);
	--fs-xsmall-upper: clamp(.8rem, .8vw + 1rem, .9rem);


	/* --- Spaziature dinamiche --------------------------- */
	--space-s: clamp(0.5rem, 1vw, 1rem);
	--space-m: clamp(1rem, 2vw, 2rem);
	--space-l: clamp(2rem, 3vw, 4rem);
	--space-xl: clamp(3rem, 6vw, 6rem);
	--space-to-fixed-header: calc(var(--space-m) + 6.5rem);


	/* --- Transition ------------------------------------- */
	--base-transition: all 0.2s ease-out;
	--input-transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out;
	--input-transition-focus: inset 0 0 0 1px var(--primary-color);


	/* --- Transform ------------------------------------- */
	--logo-rotation: rotate(-7deg);


	/* --- Colori ----------------------------------------- */
	--primary-color: #01B5A5;
	--secondary-color: #EEF7FF;
	--tertiary-color: #FFCC33;
	--accent-color: #FF0087;
	--link-color: var(--primary-color);
	--link-text-color: #01988C;
	--text-color: #202124;
	--note-color: #808080;
	--placeholder-color: #999;
	--label-color: #808080;
	--bg-navbar: rgba(255, 255, 255, .3);
	--bg-page: white;
	--bg-white: white;
	--bg-dark: var(--text-color);


	/* --- Border ----------------------------------------- */
	--hr: 1px solid #E3E3E3;
	--border-input: 1px solid #999;
	--border-color-input: #999;


	/* --- Radius ----------------------------------------- */
	--border-radius-s: 0.4rem;
	--border-radius-m: 0.6rem;
	--border-radius-l: 0.8rem;
	--border-radius-xl: 1rem;
	--border-radius-2xl: 1.25rem;
	--border-radius-circle: 50%;


	/* --- Font ------------------------------------------- */
	--font-family: "Google Sans", sans-serif;

}




/* --- Valori di base ------------------------------------- */

* {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	color: var(--text-color);
	font-variant-ligatures: none !important;
	text-decoration: none !important;
}

.bi {
	font-family: "bootstrap-icons" !important;
}

.container-fluid {
	padding-left: var(--space-l);
	padding-right: var(--space-l);
}

.extra-pad-top {
	margin-top: 9rem;
}

html {
	font-size: 100%;
	background: var(--bg-page);
	line-height: 1.6;
}

main {
	min-height: 90vh;
}

a {
	text-decoration: none;
	color: var(--link-color);
	transition: var(--base-transition);
}

a:hover {
	color: var(--text-color);
	text-decoration: underline;
}

h1,
.h1 {
	font-size: var(--fs-h1);
	font-weight: 300;
	line-height: 1.5;
}

h2,
.h2 {
	--fs-h2: clamp(1.5rem, 3dvw, 2.5rem);
	font-weight: 300;
	line-height: 1.5;
}

h3,
.h3 {
	font-size: var(--fs-h3);
	font-weight: 300;
	line-height: 1.5;
}

h4,
.h4 {
	font-size: var(--fs-h4);
	font-weight: 300;
	line-height: 1.5;
}

h5,
.h5 {
	font-size: var(--fs-h5);
	font-weight: 300;
	line-height: 1.5;
}

p {
	font-size: var(--fs-text);
	font-weight: 300;
	line-height: 1.5;
}




/* --- Navbar ------------------------------------------ */

.navbar {
	padding-left: .6rem;
	background: var(--bg-navbar);
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	transition: all .3s ease-out;
	box-shadow: 0 1rem 3rem rgba(255, 255, 255, .5);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border-bottom: var(--hr);
}

.navbar .navbar-brand {
	position: relative;
	left: -1.4rem;
}

.navbar .logo {
	position: relative;
	z-index: 1000;
	top: .6rem;
	left: .6rem;
	width: 8.75rem;
	height: 4.6875rem;
	-webkit-mask: url('../img/logo-presto.svg') no-repeat 100% 100%;
	mask: url('../img/logo-presto.svg') no-repeat 100% 100%;
	-webkit-mask-size: cover;
	mask-size: cover;
	transform: var(--logo-rotation);
	transition: var(--base-transition);
}

.logo-gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 300% 300%;
	animation: gradient-animation 1s linear forwards;
}

@keyframes gradient-animation {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.navbar .logo-shadow {
	position: absolute;
	z-index: 900;
	top: 2rem;
	width: 8.75rem;
	height: 4.6875rem;
	-webkit-mask: url('../img/logo-presto.svg') no-repeat 100% 100%;
	mask: url('../img/logo-presto.svg') no-repeat 100% 100%;
	-webkit-mask-size: cover;
	mask-size: cover;
	transform: var(--logo-rotation);
	filter: blur(6.25rem);
	transition: var(--base-transition);
}

.logo-shadow-color {
	background: rgba(0, 0, 0, .3);
}

.navbar .navbar-nav {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: end;
	z-index: 200;
	gap: .4rem;
}

.navbar li a,
.navbar button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--bg-white);
	background: var(--link-color);
	padding: .4rem 1rem !important;
	border-radius: var(--border-radius-s);
	transition: var(--base-transition);
	text-decoration: none;
	font-weight: 400;
}

/* .navbar .dropdown-menu {
	min-width: max-content;
} */

.navbar li a:hover,
.navbar button:hover {
	background: var(--bg-dark);
	color: var(--bg-white);
	filter: drop-shadow(0 1rem .4rem rgba(100, 100, 100, .1));

}

.navbar a.active {
	color: var(--bg-white) !important;
	background: var(--bg-dark);
}

.navbar a.active:hover {
	color: var(--bg-white);
	background: var(--bg-dark);
	filter: none;
}

.navbar-toggler {
	border: 0 none;
	background-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
	outline: 0;
	box-shadow: none;
}

.navbar-transform {
	transform: translateY(-120%);
}

.navbar button.btn.btn-link.nav-link,
.navbar button.btn.btn-link.nav-link i {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	width: 100%;
	text-align: center;
}

ul.navbar-nav i::before {
	color: var(--bg-white);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: var(--bg-white);
}




/* --- Dropdown -------------------------------- */

.dropdown-menu {
	left: 50% !important;
	transform: translateX(-50%) !important;
	background-color: var(--bg-white) !important;
	margin-top: 8px !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar .dropdown-menu {
	background-color: white;
	border: var(--hr);
	border-radius: var(--border-radius-m);
	padding: 0;
	box-shadow: none !important;
	min-width: 100%;
	overflow: hidden;
	position: relative;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

.navbar .dropdown-menu .dropdown-item {
	background: transparent !important;
	border-radius: 0;
	color: var(--text-color);
	font-weight: 300;
	padding: .5rem 1rem;
	border-bottom: var(--hr);
}

.navbar .dropdown-menu li:last-child .dropdown-item {
	border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
	background: var(--bg-dark) !important;
	color: var(--bg-white);
}

.navbar .dropdown-menu hr.dropdown-divider {
	display: block;
	margin: 0;
	border-color: #E3E3E3;
	opacity: 1;
}

.navbar .dropdown-toggle {
	display: flex;
	align-items: center;
	gap: .4rem;
}

.navbar .dropdown-toggle .bi {
	line-height: 0;
}



/* --- Search ---------------------------- */

.navbar form[role="search"] {
	margin-left: 1rem !important;
}

.navbar form[role="search"] .form-control {
	border-color: var(--border-color-input);
	border-right-color: var(--primary-color);
}

.navbar form[role="search"] button {
	border-color: var(--primary-color);
}

.navbar form[role="search"] .form-control:focus {
	border-color: var(--primary-color);
	box-shadow: var(--input-transition-focus);
	outline: none;
}




/* --- Placeholder ---------------------------- */

::placeholder {
	color: var(--placeholder-color) !important;
	font-style: italic;
	font-weight: 100 !important;
}




/* --- Paginazione ---------------------------- */

.pagination .page-item.active .page-link {
	color: var(--bg-white);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.pagination .page-item .page-link {
	color: var(--accent-color);
	border-color: #CCC;
}

.pagination .page-item .page-link:hover {
	color: var(--bg-white);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}





/* --- Form error ---------------------------- */

p.text-danger {
	position: relative;
	top: -.6rem;
	font-style: normal !important;
	font-size: small;
}



/* --- Carousel -------------------------------------- */

.carousel {
	border-radius: var(--border-radius-s) !important;
	overflow: hidden;
}



/* --- Cards -------------------------------------- */

.card {
	position: relative;
	margin-right: .5rem;
	border: 0 none;
	border-radius: var(--border-radius-m);
	transition: var(--base-transition);
}

.cards-row {
	--bs-gutter-y: 2.4rem;
}

.card img {
	width: 100%;
	border-top-left-radius: var(--border-radius-m);
	border-top-right-radius: var(--border-radius-m);
	max-height: 20rem;
	object-fit: cover;
}

.card .card-img-wrapper {
	position: relative;
}

.card .article-price {
	position: absolute;
	bottom: -.6rem;
	right: 1rem;
	padding: .4rem .6rem;
	border-radius: .4rem;
	background-color: var(--bg-dark);
	color: var(--bg-white);
	z-index: 10;
	border: 1px solid rgba(255,255,255,.4);
}

.card .article-price h6 {
	margin: 0;
}

.card .card-body {
	border-left: var(--hr);
	border-right: var(--hr);
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.card .card-body h4 {
	margin-bottom: 0;
	flex: 1;
}

.card .card-body h4 a {
	display: flex;
	align-items: center;
	padding: 1rem;
	color: var(--accent-color);
	height: 100%;
}
.card .card-body a:hover {
	color: var(--bg-dark);
	background-color: #F9F9F9;
}

.card .card-footer {
	padding: 0;
	border: var(--hr);
	border-bottom-left-radius: var(--border-radius-m);
	border-bottom-right-radius: var(--border-radius-m);
	background-color: var(--bg-white);
}

.card .card-footer a {
	display: block;
	padding: .6rem 1rem;
	border-bottom-left-radius: var(--border-radius-m);
	border-bottom-right-radius: var(--border-radius-m);
}

.card .card-footer a:hover {
	background-color: #F9F9F9;
}




/* --- Input text ----------------------------------- */

.custom-input {
	margin: 0 0 var(--space-s) 0;
	width: 100%;
	height: 2.75rem;
	border-radius: var(--border-radius-s);
	border: var(--border-input);
	padding: var(--space-s);
	background-color: var(--bg-white);
	transition: var(--input-transition);
}

.custom-input:focus {
	border-color: var(--primary-color);
	box-shadow: var(--input-transition-focus);
	outline: none;
}

.form-label {
	color: var(--label-color);
	margin-bottom: .2rem;
	font-size: x-small;
	text-transform: uppercase;
}

.btn-primary-custom {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 2.75rem;
	border-radius: var(--border-radius-s);
	padding: var(--space-s);
	color: var(--bg-white);
	background-color: var(--bg-dark);
	margin-top: var(--space-m) !important;
	transition: var(--base-transition);
}

.btn-primary-custom:hover {
	background-color: var(--primary-color);
	color: var(--bg-white) !important;
}

.btn-primary,
.btn-primary-accent {
	display: flex;
	align-items: center;
	width: max-content;
	background-color: var(--bg-dark);
	border-color: var(--bg-dark);
	border-radius: var(--border-radius-s);
	font-size: 1.1rem !important;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	min-height: 2.75rem;
}

.btn-primary:hover {
	text-decoration: none;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-primary-accent {
	background-color: var(--bg-white);
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.btn-primary-accent:hover {
	color: var(--bg-dark);
	background-color: var(--bg-white);
	border-color: var(--bg-dark);
}




/* --- Textarea ----------------------------------- */

.textarea {
	margin: 0 0 var(--space-s) 0;
	width: 100%;
	border-radius: var(--border-radius-s);
	border: var(--border-input);
	padding: var(--space-s);
	background-color: var(--bg-white);
	transition: var(--input-transition);
}

.textarea:focus {
	border-color: var(--primary-color);
	box-shadow: var(--input-transition-focus);
	outline: none;
}




/* --- Select ----------------------------------- */

.select {
	margin: 0 0 var(--space-s) 0;
	width: 100%;
	height: 2.75rem;
	border-radius: var(--border-radius-s);
	border: var(--border-input);
	background-color: var(--bg-white);
	transition: var(--input-transition);
	appearance: none;
	-webkit-appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23999' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right var(--space-s) center;
	padding-right: calc(var(--space-s) * 3);
}

.select:focus {
	border-color: var(--primary-color);
	box-shadow: var(--input-transition-focus);
	outline: none;
}



/* --- Footer --------------------------------------- */

footer {
	margin-top: var(--space-xl);
	margin-bottom: var(--space-m);
	padding-left: calc(var(--space-l) + .7rem) !important;
	padding-right: calc(var(--space-l) + .7rem) !important;
}

footer .footer {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: var(--hr);
	padding-top: var(--space-m);
}

footer small {
	color: var(--note-color);
}

footer span {
	vertical-align: text-top;
}

footer .logo-footer {
	width: 4rem;
	height: auto;
	filter: grayscale(1);
	transform: var(--logo-rotation);
}



/* --- Utilities ------------------------------------ */

/* .strong {
	font-weight: 600;
}

.upper {
	text-transform: uppercase;
	font-weight: 300;
}

.custom-sticky {
	top: 8.25rem;
}
*/

.color-note {
	color: var(--note-color);
}

.accent,
.accent>i {
	color: var(--accent-color);
}

.bg-accent {
	background-color: var(--accent-color);
	color: var(--bg-white);
}

.badge.rounded-pill.bg-accent {
	border: 1px solid var(--bg-white);
}




/* --- Media queries -------------------------------- */

@media (max-width: 768px) {

	ul.dropdown-menu.show {
		top: 0;
	}

	.extra-pad-top {
		margin-top: 6rem;
	}

	.navbar .navbar-nav {
		margin: 2.6rem 0 .75rem 0;
	}

	.navbar li {
		margin-bottom: .5rem;
	}

	.navbar .navbar-brand {
		top: .2rem;
		left: -.5rem;
	}

	.navbar .logo {
		top: 0;
		left: 0;
		width: calc(8.75rem / 2);
		height: calc(4.6875rem / 2);
	}

	.navbar .logo-shadow {
		top: 1.2rem;
		width: calc(8.75rem / 2);
		height: calc(4.6875rem / 2);
	}

	.logo-shadow-color {
		background: rgba(0, 0, 0, 1);
	}

	.navbar .img-bg-custom,
	.navbar .img-bg-custom>img {
		display: none;
	}

	.container-fluid {
		padding-left: var(--space-m);
		padding-right: var(--space-m);
	}

}

@media (max-width: 991px) {

	.navbar ul {
		margin: 2.6rem 0 .75rem 0;
	}

	.navbar .dropdown-menu li {
		margin-bottom: 0;
	}

}


@media (max-width: 1200px) {

	h1,
	h2,
	h3,
	h4,
	.h1,
	.h2,
	.h3,
	.h4 {
		font-weight: 600;
	}
}